:root {
  --primary-color: #07f;
  --accent-color: rgba(231, 109, 90, 1);
  --accent-color-dark: rgba(226, 77, 54, 1);
  --accent-color: rgba(89, 110, 166, 1);
  --accent-color-dark: rgba(71, 88, 133, 1);
  --dark-color: rgba(70, 129, 125, 1);
  --dark-color-alt: rgba(156, 160, 165, 1);
  --medium-color: #bbb;
  --light-color: #eee;
  --page-color: #F5F5DC;
  --soft-color: rgba(221, 214, 212, 1);
  --margin-xxl: 3rem;
  --margin-xl: 2rem;
  --margin-lg: 1rem;
  --margin-med: 0.66rem;
  --margin-sm: 0.33rem;
  --base-font-size: 16pt;
  --border-radius: 6px;
  --rounded-radius: 4rem;
  --padding-xxl: 2rem;
  --padding-xl: 1.4rem;
  --padding-lg: 1rem;
  --padding-med: 0.66rem
  --padding-sm: 0.33rem;
  --font: Courier New;
}

body {
  font-size: calc(1rem + 1vw);
  background: var(--page-color);
  margin: 0px;
  font-family: var(--font);
}
p, ol li, ul li {
  font-size: calc(0.8rem + 1vw);
}
 .main-nav {
    display: flex;
    background: var(--page-color); 
    background: var(--dark-color);
   
    border-radius: 2px;
    padding: 0.5em;
    font-family: Courier New;
  }
  .main-nav > ul {
    
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 3;
  }
  .main-nav li {
    background: var(--dark-color);
    margin-right: 1em;
    /*border: 2px solid black; */
  }
  .main-nav > form {
    display: flex;
    
    justify-content: flex-end;
    flex: 1;
  }
button.barlist{
  transition: all .5s ease;
    color: black;
    border: 3px solid black;
    font-family:Courier New;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}
button.barlist:hover {
    color: #001F3F;
    background-color: #fff;
}
  button.go {
    background: white;
    border: 2px solid black;
    border-radius: 1em;
    
    padding: 0 1em;
    margin-left: .3em;
  }
.popup{
    background-color:var(--page-color);
    width: 600px;
    padding: 10px 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 80%;
    border-radius: 3px;
    font-family: Courier New;
    text-align: center;
}


.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: white;
    font-size: 30px;
    color: black;
		background: white;
    border: 2px solid black;
		border-radius: 100%;
		width: 40px;
		height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup h2{
	margin-top: -20px;
}
.popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}
 @media screen and (max-width: 575px) {
   .main-nav {
     flex-direction: column;
   }
   .main-nav ul {
     flex-direction: row; 
     margin-bottom: 1em;
   }
  }
.hero {
  background: var(--dark-color);
  background: #36454f;
  color: #FFF;
  border: 2px solid red;
  
  padding: calc(1rem + 8vh) calc(1rem + 3vw) calc(3rem + 10vh) calc(1rem + 3vw);
}
.hero h1 {
  text-align: center;
  font-size: calc(1rem + 5vw);
  background:none;
  margin: 0px;
}
.hero p {
  margin: 0px 1.5rem;
  color: #bbc;
}

h4 {
  font-size: calc(1rem + 1.5vw);
}
h2, h3, h4, h5, h6 {
  
  text-align: center;
  padding: var(--padding-lg);
  margin: var(--margin-med) auto;
  width: 100%;
}
.highlight{
  color: white;
  background: #5F9EA0;
  text-align: center;
  font-size: calc(1rem + 1vw);
  
}
.highlightb{
  color: white;
  background: #36454f;
  text-align: center;
  font-size: calc(1rem + 1vw);
  
}
p {
  margin: 0px 1.5rem;
  color: ;
}
.KVP {
  background: var(--dark-color); 
  color: #FFF;
  border: 2px solid red;
  padding: 1rem;
}
.KVPblack {
  background: #36454f; 
  color: #FFF;
  border: 2px solid red;
  padding: 1rem;
}
.KVP p {
  margin: 0px 1.5rem;
  color: #bbc;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.KVP h6{
  
  text-align: center;
  font-size: calc(1rem + 2vw);
  padding: var(--padding-lg);
  margin: var(--margin-med) auto;
  width: 100%;
}
.wrapper {
  display: flex;  
  flex-flow: row wrap;
  
  text-align: center; 
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: ;
}

.footer {
  background: ;
  font-size: calc(0.5rem + 1.5vw);
}

.main {
  text-align: center;
  background: ;
}

.aside-1 {
  width: 1px;
  border: 2px solid black;
  
}

.aside-2 {
  width: 1px;
  /*border: 2px solid red; */
}
.picalign{
  background: var(--dark-color);
  text-align:center;
}
.picalignright{
  background: var(--dark-color);
  text-align:right;
}
.picalignleft{
  background: var(--dark-color);
  text-align:left;
}
.row {
  display: flex;
  text-align:center;
}

.column {
  text-align:center;
  flex: 50%;
  padding: 5px;
}


.centering {
    text-align: center;
    width: 300px;
    vertical-align: middle;
}


.team {
  background: var(--dark-color); 
  color: #FFF;
  border: 2px solid red;
  padding: 1rem;
}
.teamblack {
  background: #36454f; 
  color: #FFF;
  border: 2px solid red;
  padding: 1rem;
}
.team h6{
  text-align: center;
  color: #FFF;
  font-size: calc(1rem + 1.5vw);
  padding: var(--padding-lg);
  margin: var(--margin-med) auto;
  width: 100%;
}
.team ul {
  color: #FFF;
  list-style-type: none;
}

.team ul li {
  position: relative;
  font: bold 30px/1.5 Courier New;
  margin-bottom: 20px;
}

.team li p {
  font: 24px/1.5 Courier New;
  padding-left: 60px;
  color: #bbc;
}

.team span {
  position: absolute;
}

hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 4px solid #ccc;
    margin: 1em 0;
    padding: 0;
}